.App {
	display: flex;
	justify-content: space-around;
	height: 100vh;
}

.LeftPane,
.RightPane {
	flex: 1;
}

.LeftPane {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.RightPane {
	display: flex;
	padding: 1rem;
	border-left: 1px solid #ddd;
	flex-direction: column;
	justify-content: center;
}

.App button {
	margin-top: 0.5rem;
	width: 220px;
	padding: 0.5rem;
	border: 1px solid #ddd;
	background-color: #ddd;
	border-radius: 5px;
}

.App button:hover {
	background-color: #eee;
}

.logo {
	width: 100px;
}

.FormInput {
	display: flex;
	flex-direction: column;
	margin: 0.5rem 0;
}

.FormInput input {
	width: 220px;
	padding: 0.5rem;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 5px;
	outline: none;
}

.result {
	background-color: #eee;
}
